.Home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;


    .Home-buttons{
        display: flex;
        flex-direction: column;
        width: 220px;
        margin: 0 auto;
        button{
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            background:#1779B0;
          
            font-size: 20px;
            border-radius: 3px;
            letter-spacing: 1px;
            a{
                color: white;
            }

        }


    }

    .Home-img{
        width: 320px;
        img{
            width: 100%;
        }
    }




}